    .header {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 20px;
      background-color: #333;
      color: white;
      font-family: Garamond;
      font-size: 1.2rem;
      z-index: 2;
      transition: width 0.2s ease-in-out;
    }

    .header:hover {
      width: 200px;
    }

    .header nav {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; /* Center menu items */
    }

    .header nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      opacity: 0;
      visibility: hidden; /* Hide menu items by default */
    }

    .header nav ul li {
      margin: 10px 0;
      width: 100%;
    }

    .header nav ul li a {
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
      padding: 5px;
      border-right: 3px solid transparent;
      transition: border-right 0.2s ease-in-out;
      text-align: center;
    }

    .header nav ul li a:hover {
      border-right: 3px solid white;
    }

    /* Add new class to show menu items */
    .header nav ul.visible {
      opacity: 1;
      visibility: visible;
    }